.programForm {
    padding: 20px;
    .form-label{
        font-size: 0.75rem;
        font-weight: 600;
    }
    .input-area{
        height: 30px;
        border-radius: 2px;
        padding: 0 11px;
        font-size: 0.65rem;
        background-color: #fff;   
    }
    .btn-area{
        height: 30px;
        border-radius: 2px;
        padding: 0 11px;
    }

    
}